@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --surface: #33c0c0;
  --surface2: #f772b5;
  --on-surface: #f5fcfe;
  --background: white;
  --button-inside: #f5fcfe;
}

body {
  height: 98vh;
  padding: 10px;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: calc(0.7rem + 0.5vw);

  background-color: var(--background);
}

.header {
  color: var(--on-surface);
  width: 100%;
  text-align: left;
  background-color: var(--surface);
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
}

h1 {
  display: inline-block;
  margin: 0 10px;
}

.navbar {
  background-color: var(--surface2);
  margin: 10px 2px;
  border-radius: 10px;
}

.navbar ul {
  overflow: auto;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;
}

.navbar li span {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}

.navbar li span:hover {
  color: rgb(110, 22, 253);
}

.search {
  float: right;
  color: white;
  padding: 12px 75px;
}

.navbar ul > div input {
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: 160px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(40, 204, 245);
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
  padding: 10px;
}

.dropdown-content span {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.container {
  height: 86vh;
  width: 100%;
  display: flex;
  gap: 5px;
}

.section {
  height: 96%;
  color: var(--on-surface);
  background-color: var(--surface);
  border-radius: 10px;
  margin: 2px;
}

#section-1 h4 {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  margin: 2px;
}

#section-1 {
  flex-grow: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}

.orderBy {
  display: flex;
  flex-direction: column;
  gap: 0px;
  /* align-items: flex-end; */
}

.orderByWrapper {
  display: flex;
  gap: 15px;
  font-size: 1.25em;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#order-up {
  display: none;
}

.task-list {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  padding: 10px;
  list-style-type: none;
}

.task {
  border: 2px solid white;
  border-radius: 10px;
  padding: 16px;
  margin: 10px;
  text-overflow: ellipsis;
}

.complete {
  float: right;
  border-radius: 5px;
  background-color: var(--button-inside);
}

.complete:hover {
  background-color: rgb(184, 179, 179);
}

.fas {
  float: right;
  padding-right: 10px;
  padding-top: 1px;
}

#section-2 input,
#section-2 select,
#section-1 button {
  font-size: 1em;
}

.task-description {
  display: none;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 3px;
  height: 250px;
  width: 350px;
  background-color: var(--surface2);
}

.task-description ul {
  list-style-type: disc;
}

.task:hover .task-description {
  position: absolute;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

#section-2 {
  width: 40%;
  font-size: 1em;
}

#section-2 h2 {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  margin: 2px;
}

form div {
  margin: 5px;
  padding: 10px;
}

form div button {
  font-size: 1em;
  border-radius: 5px;
}
